flows_eweb-odbc-api.json
[{"id":"ededde91.06f9e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e2603f43.d4e16","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d117b9bd.63a768","type":"tab","label":"OBDC V4 gcl editor","disabled":false,"info":""},{"id":"7b0db34f.9b75bc","type":"tab","label":"eweb-api IP-OP creator","disabled":false,"info":""},{"id":"91410b44.dbe758","type":"tab","label":"eweb-api AV creator","disabled":false,"info":""},{"id":"483e7728.fa0c68","type":"tab","label":"eweb-api BV creator","disabled":false,"info":""},{"id":"7938131d.bf35ac","type":"tab","label":"eweb-api TL ceator","disabled":false,"info":" "},{"id":"ea5fc46a.3ed428","type":"tab","label":"eweb-api CO creator","disabled":false,"info":""},{"id":"dc65da.fbf78a28","type":"tab","label":"eweb-api MT creator","disabled":false,"info":""},{"id":"a0803973.9b9898","type":"tab","label":"eweb-api PG creator","disabled":false,"info":""},{"id":"959985ac.089528","type":"tab","label":"eweb-api CU creator","disabled":false,"info":""},{"id":"633356d0.748178","type":"tab","label":"eweb-api PG edit","disabled":false,"info":""},{"id":"ac1dd763.60f5e8","type":"tab","label":"O3 modbus csv to xml FIL","disabled":false,"info":""},{"id":"2ef905b1.78622a","type":"ODBC_CONNECTION","z":"","connection":"DSN=Delta Network"},{"id":"188f86ab.7356e9","type":"ODBC_CONNECTION","z":"","connection":"DSN=Delta ODBC 4"},{"id":"f612bf80.d23c8","type":"inject","z":"ededde91.06f9e","name":"","topic":"","payload":"{ \"dev_id\": 10000,   \"instance\": 1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":70,"wires":[["5a5bde24.2997d"]]},{"id":"585edb6e.2ecb84","type":"debug","z":"ededde91.06f9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":220,"wires":[]},{"id":"17a56d74.bb17e3","type":"ODBC","z":"e2603f43.d4e16","d":true,"connection":"188f86ab.7356e9","name":"obdc-V4-select","query":"SELECT programcode FROM object_bac_pg where site_id = {{{payload.site_id}}} and dev_id = {{payload.dev_id}} and instance = {{payload.instance}}","outField":"payload","x":310,"y":110,"wires":[["bdaf5e68.de0c4","bd44c5c2.d3b4a8"]]},{"id":"68410e50.0cfe4","type":"inject","z":"e2603f43.d4e16","name":"","topic":"","payload":"{ \"site_id\": \"'cloud_1'\", \"dev_id\": 101,   \"instance\": 1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":110,"wires":[["17a56d74.bb17e3"]]},{"id":"e1a3c93c.ad8808","type":"debug","z":"e2603f43.d4e16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":110,"wires":[]},{"id":"bdaf5e68.de0c4","type":"function","z":"e2603f43.d4e16","name":"","func":"\nglobal.set(\"pg_actual\", msg.payload[0].programcode);\n\nvar newMsg = { payload: msg.payload[0].programcode };\nreturn newMsg;","outputs":1,"noerr":0,"x":450,"y":190,"wires":[["e1a3c93c.ad8808","85de01.dc0602"]]},{"id":"bd44c5c2.d3b4a8","type":"debug","z":"e2603f43.d4e16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":70,"wires":[]},{"id":"85de01.dc0602","type":"file","z":"e2603f43.d4e16","name":"","filename":"C:\\Users\\plambert\\Desktop\\ndossier\\pg_actual.txt","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":630,"y":290,"wires":[[]]},{"id":"32a5cf1f.966ea","type":"ODBC","z":"e2603f43.d4e16","d":true,"connection":"188f86ab.7356e9","name":"obdc-V4-update","query":"UPDATE object_bac_pg SET programcode = {{{payload.programcode}}} where dev_id = {{payload.dev_id}} and instance = {{payload.instance}}","outField":"payload","x":310,"y":480,"wires":[["b7671bed.1b2eb8"]]},{"id":"73abbe83.a3c14","type":"inject","z":"e2603f43.d4e16","name":"","topic":"","payload":"{ \"dev_id\": 101,   \"instance\": 1}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":480,"wires":[["527b112e.1d31"]]},{"id":"b7671bed.1b2eb8","type":"debug","z":"e2603f43.d4e16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":480,"wires":[]},{"id":"527b112e.1d31","type":"function","z":"e2603f43.d4e16","name":"","func":"\npg_code = \"//Transfert piece\\r\\n\" +\n\"Variable BdeDevMaster As Integer\";\n\nvar pg = global.get(\"pg_new\");\n\n//msg.payload.programcode = \"\\'//bonjour\\'\"; \nmsg.payload.programcode = \"'\"+pg+\"'\"; \n\nreturn msg; ","outputs":1,"noerr":0,"x":210,"y":560,"wires":[["32a5cf1f.966ea","c850105a.d07ff"]]},{"id":"c850105a.d07ff","type":"debug","z":"e2603f43.d4e16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":570,"wires":[]},{"id":"bb41e443.1a0e38","type":"file in","z":"e2603f43.d4e16","name":"","filename":"C:\\Users\\plambert\\Desktop\\ndossier\\pg_new.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":430,"y":660,"wires":[["4a1089c0.34e2a8"]]},{"id":"2eee5ebc.d037a2","type":"debug","z":"e2603f43.d4e16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":660,"wires":[]},{"id":"4a1089c0.34e2a8","type":"function","z":"e2603f43.d4e16","name":"","func":"\nglobal.set(\"pgcode\", msg.payload);\n\n//return msg;","outputs":1,"noerr":0,"x":740,"y":660,"wires":[["2eee5ebc.d037a2"]]},{"id":"2a93449d.b0b09c","type":"inject","z":"e2603f43.d4e16","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":660,"wires":[["bb41e443.1a0e38"]]},{"id":"b51697ab.75bee8","type":"inject","z":"e2603f43.d4e16","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":710,"wires":[["1d7d7306.d4623d"]]},{"id":"1d7d7306.d4623d","type":"function","z":"e2603f43.d4e16","name":"get pg from text","func":"\n//var newMsg = global.get(\"pgcode\");\nvar pg = global.get(\"pg_actual\");\n\nvar pgnew = pg + \"\\r\\n//Bonjour\";\n\nvar pgn = pgnew.replace(/'/g, \"''\");\n\nglobal.set(\"pg_new\", pgn)\nvar newMsg = { payload: \"'\"+pgn+\"'\"};\nreturn newMsg;\n\n","outputs":1,"noerr":0,"x":300,"y":710,"wires":[["d2b6fcf5.e7e1d"]]},{"id":"d2b6fcf5.e7e1d","type":"debug","z":"e2603f43.d4e16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":710,"wires":[]},{"id":"e8729c4f.8a763","type":"inject","z":"e2603f43.d4e16","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["51c1eed6.b9647"]]},{"id":"51c1eed6.b9647","type":"function","z":"e2603f43.d4e16","name":"get pg_actual","func":"\n//var newMsg = global.get(\"pgcode\");\nvar pg = global.get(\"pg_actual\");\nvar newMsg = { payload: \"'\"+pg+\"'\"};\nreturn newMsg;\n\n","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["400fa1f4.390fa"]]},{"id":"400fa1f4.390fa","type":"debug","z":"e2603f43.d4e16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":340,"wires":[]},{"id":"4c2c23d1.226bcc","type":"inject","z":"ededde91.06f9e","name":"","topic":"","payload":"{\"site_id\": \"'cloud_1'\", \"dev_id\": 92621, \"instance\": 1 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":210,"wires":[["e4149beb.d1a3d8","3d728771.411638"]]},{"id":"f950f2a2.d6ec3","type":"debug","z":"ededde91.06f9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":820,"y":260,"wires":[]},{"id":"86d97c67.c515a","type":"function","z":"ededde91.06f9e","name":"set device ID","func":"\nvar dev = flow.get(\"device_inc\");\n\nmsg.payload.dev_id = dev;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":230,"wires":[["b6ed7f93.12afe","585edb6e.2ecb84"]]},{"id":"b6ed7f93.12afe","type":"ODBC","z":"ededde91.06f9e","d":true,"connection":"188f86ab.7356e9","name":"obdc-V4-select","query":"SELECT programcode FROM object_bac_pg where site_id = {{{payload.site_id}}} and dev_id = {{payload.dev_id}} and instance = {{payload.instance}}","outField":"payload","x":600,"y":300,"wires":[["f950f2a2.d6ec3","a403da06.ba5098"]]},{"id":"fd777d9a.89553","type":"file","z":"ededde91.06f9e","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":480,"y":70,"wires":[[]]},{"id":"5a5bde24.2997d","type":"function","z":"ededde91.06f9e","name":"","func":"\n//msg.filename = \"C:/Users/plambert/Desktop/odbc-edit-pg/pg_actual.txt\";\n\n\n\nvar msg1 = { payload: \"program_text\" };\nmsg1.filename = \"C:/Users/plambert/Desktop/odbc-edit-pg/pg_actual.txt\";\n\nreturn msg1;\n\n//return msg;","outputs":1,"noerr":0,"x":310,"y":70,"wires":[["fd777d9a.89553"]]},{"id":"a403da06.ba5098","type":"function","z":"ededde91.06f9e","name":"store existing pg in file","func":"\nvar program_text = msg.payload[0].programcode;\nvar program_device = flow.get(\"device_inc\");\nvar program_intance = flow.get(\"program\");\nvar file = \"C:/Users/plambert/Desktop/odbc-edit-pg/\"+program_device+\"_PG\"+program_intance+\"_old.gcl\";\n\nvar msg1 = { payload: program_text };\nmsg1.filename = file;\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":850,"y":300,"wires":[["214e5bbf.0af2d4","94515111.46b64"]]},{"id":"214e5bbf.0af2d4","type":"file","z":"ededde91.06f9e","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1060,"y":300,"wires":[[]]},{"id":"3d728771.411638","type":"function","z":"ededde91.06f9e","name":"set variable flow context","func":"\nflow.set(\"site\", msg.payload.site_id);\nflow.set(\"device\", msg.payload.dev_id);\nflow.set(\"program\", msg.payload.instance);\nflow.set(\"device_inc\", msg.payload.dev_id);\n\n//return msg;","outputs":1,"noerr":0,"x":370,"y":190,"wires":[[]]},{"id":"94515111.46b64","type":"function","z":"ededde91.06f9e","name":"edit existing pg","func":"\nvar program_old = msg.payload;\nvar lineToAdd = \"\\r\\n//Bonjour\" +\n                \"\\nifonce bv10010 then av10010 = 15 endif\";\nvar program_new = program_old + lineToAdd;\nvar program_str = program_new.replace(/'/g, \"''\");\n\nvar site = flow.get(\"site\");\nvar device = flow.get(\"device_inc\");\nvar instance = flow.get(\"program\");\nvar _payload = {\"programcode\": \"'\"+program_str+\"'\", \"dev_id\": device, \"instance\": instance, \"site_id\": site }\n\nvar msg1 = { payload: _payload };\n\ndevice++;\nflow.set(\"device_inc\", device);\n\nreturn msg1;","outputs":1,"noerr":0,"x":210,"y":410,"wires":[["abf13b6e.970ba8"]]},{"id":"88811a43.bcb008","type":"debug","z":"ededde91.06f9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":740,"y":410,"wires":[]},{"id":"abf13b6e.970ba8","type":"ODBC","z":"ededde91.06f9e","d":true,"connection":"188f86ab.7356e9","name":"obdc-V4-update","query":"UPDATE object_bac_pg SET programcode = {{{payload.programcode}}} where site_id = {{{payload.site_id}}} and dev_id = {{payload.dev_id}} and instance = {{payload.instance}}","outField":"payload","x":470,"y":410,"wires":[["88811a43.bcb008"]]},{"id":"466b9eca.f0f14","type":"inject","z":"d117b9bd.63a768","name":"Execute","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":68,"wires":[["3e0f7b2d.d2f794"]]},{"id":"aca0ee82.c7db","type":"debug","z":"d117b9bd.63a768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":68,"wires":[]},{"id":"9b384ae4.4b6778","type":"split","z":"d117b9bd.63a768","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":500,"y":68,"wires":[["33bfe609.1af31a"]]},{"id":"33bfe609.1af31a","type":"delay","z":"d117b9bd.63a768","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":68,"wires":[["aca0ee82.c7db","1168923a.9eaafe"]]},{"id":"3e0f7b2d.d2f794","type":"function","z":"d117b9bd.63a768","name":"User Settings","func":"\nvar devicesToEdit = [];\n\nvar site = \"'Cloud_1'\"\nvar programInstance = 1;\n\nvar firstDevice = 92620;\nvar lastDevice = 92620;\nvar deviceIncrement = 1;\n\nfor (i = 0; i <= (lastDevice-firstDevice); i+=deviceIncrement) { \n    devicesToEdit[i]= {\"site_id\": site, \"dev_id\": i+firstDevice, \"instance\": programInstance };\n}\n\nmsg1 = { payload: devicesToEdit };\n\nreturn msg1;","outputs":1,"noerr":0,"x":310,"y":68,"wires":[["9b384ae4.4b6778"]]},{"id":"1168923a.9eaafe","type":"ODBC","z":"d117b9bd.63a768","connection":"188f86ab.7356e9","name":"obdc-V4-select","query":"SELECT site_id, dev_id, instance, programcode FROM object_bac_pg where site_id = {{{payload.site_id}}} and dev_id = {{payload.dev_id}} and instance = {{payload.instance}}","outField":"payload","x":310,"y":130,"wires":[["c6aa3bac.362468","8a0d83fc.79013"]]},{"id":"c6aa3bac.362468","type":"debug","z":"d117b9bd.63a768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":150,"wires":[]},{"id":"8a0d83fc.79013","type":"function","z":"d117b9bd.63a768","name":"program manipulations","func":"var site = msg.payload[0].site_id;\nvar device = msg.payload[0].dev_id;\nvar instance = msg.payload[0].instance;\n\n//Existing gcl program\nvar program_text_old = msg.payload[0].programcode;\nvar msg1 = { payload: program_text_old };\nmsg1.filename = \"C:/Users/plambert/Desktop/odbc-edit-pg/\"+device+\"_PG\"+instance+\"_old.gcl\";\n\n//New gcl program\nvar lineToAdd = \"\\r\\n//Modification mai 2020. nouveaux transferts pour ajust. PC\" +\n                \"\\nifonce bv10010 then av10010 = 15 endif\";\n//var program_text_new = program_text_old + lineToAdd;\nvar program_text_new = program_text_old.replace(\"IfOnce 'PIE_XXX OCC' Then 'PIE_XXX T_PIE PC_OCC' = 20.1 End If\", \"IfOnce 'PIE_XXX OCC' Then 'PIE_XXX T_PIE PC_OCC' = 20.7 End If\");\nvar program_str = program_text_new.replace(/'/g, \"''\");\nvar msg2 = { payload: program_text_new };\nmsg2.filename = \"C:/Users/plambert/Desktop/odbc-edit-pg/\"+device+\"_PG\"+instance+\"_new.gcl\";\n\nvar _payload = {\"site_id\": \"'\"+site+\"'\" , \"dev_id\": device, \"instance\": instance, \"programcode\": \"'\"+program_str+\"'\"}\nvar msg3 = { payload: _payload };\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"x":550,"y":200,"wires":[["b36447ff.d44f68"],["f15c36b0.219fc8"],["3fd0e80e.329038","9685f434.cbb528"]]},{"id":"b36447ff.d44f68","type":"file","z":"d117b9bd.63a768","name":"save existing PG to file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":810,"y":160,"wires":[[]]},{"id":"3fd0e80e.329038","type":"debug","z":"d117b9bd.63a768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":260,"wires":[]},{"id":"9685f434.cbb528","type":"ODBC","z":"d117b9bd.63a768","connection":"188f86ab.7356e9","name":"obdc-V4-update","query":"UPDATE object_bac_pg SET programcode = {{{payload.programcode}}} where site_id = {{{payload.site_id}}} and dev_id = {{payload.dev_id}} and instance = {{payload.instance}}","outField":"payload","x":310,"y":270,"wires":[[]]},{"id":"f15c36b0.219fc8","type":"file","z":"d117b9bd.63a768","name":"save new PG to file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":800,"y":210,"wires":[[]]},{"id":"f7d30120.1e0de","type":"inject","z":"91410b44.dbe758","name":"Execute","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":240,"wires":[["15e92027.b6407"]]},{"id":"15e92027.b6407","type":"file in","z":"91410b44.dbe758","name":"Enter here csv file path","filename":"C:\\Users\\plambert\\Google Drive\\Travail\\CHRGP\\lecteur kW Veris changement oct. 2020\\analog-value.csv","format":"utf8","chunk":false,"sendError":false,"x":330,"y":240,"wires":[["62551701.7c3918"]]},{"id":"62551701.7c3918","type":"csv","z":"91410b44.dbe758","name":"","sep":";","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\r\\n","temp":"","skip":0,"strings":true,"x":550,"y":240,"wires":[["2f042388.a58a1c"]]},{"id":"8ebb05f2.7f5718","type":"debug","z":"91410b44.dbe758","name":"test json obj","active":true,"console":"false","complete":"payload","x":970,"y":240,"wires":[]},{"id":"2f042388.a58a1c","type":"function","z":"91410b44.dbe758","name":"csv To jsObject","func":"\nvar object = [];\nvar i;\n\nfor (i = 0; i <  msg.payload.length; i++) { \n    var s = msg.payload[i].Site;\n    var d = msg.payload[i].Device;\n    var t = msg.payload[i].Type;\n    var x = msg.payload[i].Instance;\n    var n = msg.payload[i].Name;  \n    var u = msg.payload[i].Units; \n\n    object[i]= {siteDevice: s+\"/\"+d, objectIdent: t+\",\"+x, name: n, units: u };    \n}\n\nvar msg1 = {payload: object};\n\nreturn msg1;","outputs":1,"noerr":0,"x":760,"y":240,"wires":[["8ebb05f2.7f5718","e481548a.97c2f8"]]},{"id":"e481548a.97c2f8","type":"split","z":"91410b44.dbe758","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":320,"wires":[["d1e3b910.eadf48"]]},{"id":"bd3ca0ed.b6279","type":"delay","z":"91410b44.dbe758","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":480,"wires":[["69d84339.50ec9c","f503bb71.857478"]]},{"id":"d1e3b910.eadf48","type":"function","z":"91410b44.dbe758","name":"http string POST","func":"\n//get tl reference from json object payload\nvar siteDevice = msg.payload.siteDevice;\nvar name = msg.payload.name;\nvar objectIdent = msg.payload.objectIdent; \nvar units = msg.payload.units; \n\n//set server url and method for http post\nvar _server = global.get(\"server\");\nvar server_url = \"http://\"+_server +\"/enteliweb/api/.bacnet/\";\nvar _method = \"post\";\nvar _url = server_url + siteDevice  + \"/\";\n\n  xml_str = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>' +\n    '<Object xmlns=\"http://bacnet.org/csml/1.2\">' +\n        '<ObjectIdentifier name=\"object-identifier\" value=\"'+objectIdent+'\" />' +\n        '<String name=\"object-name\" value=\"'+name+'\" />' +\n        '<Enumerated name=\"units\" value=\"'+units+'\"/>' +\n    '</Object>';\n\n\nvar msg1 = {payload: xml_str, method: _method, url: _url};\n\nvar ss = global.get(\"start_stop\");\n\nif (ss == \"START\") {\n   return msg1; \n}\n\n//Fin","outputs":"1","noerr":0,"x":770,"y":400,"wires":[["2466e292.4f337e","bd3ca0ed.b6279"]]},{"id":"2466e292.4f337e","type":"debug","z":"91410b44.dbe758","name":"test http string","active":false,"console":"false","complete":"true","x":1000,"y":400,"wires":[]},{"id":"69d84339.50ec9c","type":"debug","z":"91410b44.dbe758","name":"test http xml string","active":false,"console":"false","complete":"payload","x":970,"y":480,"wires":[]},{"id":"f503bb71.857478","type":"http request","z":"91410b44.dbe758","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":560,"wires":[["3bb7594f.9e2746"]]},{"id":"3bb7594f.9e2746","type":"debug","z":"91410b44.dbe758","name":"","active":true,"console":"false","complete":"payload","x":950,"y":560,"wires":[]},{"id":"2b45e7cc.b77f58","type":"inject","z":"91410b44.dbe758","name":"","topic":"","payload":"localhost","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":180,"wires":[["3a817a55.ad17c6"]]},{"id":"3a817a55.ad17c6","type":"function","z":"91410b44.dbe758","name":"global eweb server address","func":"\nglobal.set(\"server\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["71d608c0.b36558"]]},{"id":"71d608c0.b36558","type":"debug","z":"91410b44.dbe758","name":"","active":true,"console":"false","complete":"false","x":610,"y":180,"wires":[]},{"id":"bd834fed.eaae4","type":"comment","z":"91410b44.dbe758","name":"set enteliweb IP server address","info":"","x":170,"y":140,"wires":[]},{"id":"17a787b8.cda5a8","type":"comment","z":"91410b44.dbe758","name":"This flow creates ","info":"","x":120,"y":40,"wires":[]},{"id":"e27ec090.d23cf","type":"comment","z":"91410b44.dbe758","name":"step #1: ","info":"","x":90,"y":80,"wires":[]},{"id":"ce0ea277.e1306","type":"inject","z":"91410b44.dbe758","name":"start eweb http request","topic":"","payload":"START","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":320,"wires":[["aa0f5b43.d93b08"]]},{"id":"c5c059d3.9a9a18","type":"inject","z":"91410b44.dbe758","name":"stop eweb http request","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":360,"wires":[["aa0f5b43.d93b08"]]},{"id":"aa0f5b43.d93b08","type":"function","z":"91410b44.dbe758","name":"","func":"\nglobal.set(\"start_stop\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["cd078145.c460b"]]},{"id":"cd078145.c460b","type":"debug","z":"91410b44.dbe758","name":"","active":true,"console":"false","complete":"false","x":370,"y":400,"wires":[]},{"id":"1bb524fa.5fe56b","type":"inject","z":"959985ac.089528","name":"Execute","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":240,"wires":[["2c97abf5.1e3274"]]},{"id":"2c97abf5.1e3274","type":"file in","z":"959985ac.089528","name":"Enter here csv file path","filename":"C:\\Users\\plambert\\Google Drive\\Travail\\_Divers Bureau\\acces code porte entrepot\\card-users.csv","format":"utf8","chunk":false,"sendError":false,"x":330,"y":240,"wires":[["7ac2c62.15c5b38"]]},{"id":"7ac2c62.15c5b38","type":"csv","z":"959985ac.089528","name":"","sep":";","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\r\\n","temp":"","skip":0,"strings":true,"x":550,"y":240,"wires":[["af59553f.1ff988"]]},{"id":"3792c83a.1b2198","type":"debug","z":"959985ac.089528","name":"test json obj","active":true,"console":"false","complete":"payload","x":970,"y":240,"wires":[]},{"id":"af59553f.1ff988","type":"function","z":"959985ac.089528","name":"csv To jsObject","func":"\nvar object = [];\nvar i;\n\nfor (i = 0; i <  msg.payload.length; i++) { \n    var s = msg.payload[i].Site;\n    var d = msg.payload[i].Device;\n    var t = msg.payload[i].Type;\n    var x = msg.payload[i].Instance;\n    var n = msg.payload[i].Name;  \n    var p = msg.payload[i].Pin; \n    var l = msg.payload[i].AccessGroupList; \n\n    object[i]= {siteDevice: s+\"/\"+d, objectIdent: t+\",\"+x, name: n, PIN: p, groupList: l };    \n}\n\nvar msg1 = {payload: object};\n\nreturn msg1;","outputs":1,"noerr":0,"x":760,"y":240,"wires":[["3792c83a.1b2198","f98adac2.888c38"]]},{"id":"f98adac2.888c38","type":"split","z":"959985ac.089528","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":320,"wires":[["5e414a12.70d764"]]},{"id":"af2c37f4.4ffa78","type":"delay","z":"959985ac.089528","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":480,"wires":[["ef328349.9dec5","c7f49a7b.1e1a68"]]},{"id":"5e414a12.70d764","type":"function","z":"959985ac.089528","name":"http string POST","func":"\n//get tl reference from json object payload\nvar siteDevice = msg.payload.siteDevice;\nvar name = msg.payload.name;\nvar objectIdent = msg.payload.objectIdent; \nvar pin = msg.payload.PIN; \nvar group = msg.payload.groupList; \n\n//set server url and method for http post\nvar _server = global.get(\"server\");\nvar server_url = \"http://\"+_server +\"/enteliweb/api/.bacnet/\";\nvar _method = \"post\";\nvar _url = server_url + siteDevice  + \"/\";\n\n  xml_str = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>' +\n    '<Object xmlns=\"http://bacnet.org/csml/1.2\">' +\n        '<ObjectIdentifier name=\"object-identifier\" value=\"'+objectIdent+'\" />' +\n        '<String name=\"object-name\" value=\"'+name+'\" />' +\n        '<Unsigned name=\"pin\" value=\"'+pin+'\"/>' +\n        '<Array name=\"access-group-list\">' +\n            '<Unsigned name=\"1\" value=\"'+group+'\"/>' +\n        '</Array>' +\n    '</Object>';\n\n\nvar msg1 = {payload: xml_str, method: _method, url: _url};\n\nvar ss = global.get(\"start_stop\");\n\nif (ss == \"START\") {\n   return msg1; \n}\n\n//Fin","outputs":"1","noerr":0,"x":770,"y":400,"wires":[["15b563ca.9b17ac","af2c37f4.4ffa78"]]},{"id":"15b563ca.9b17ac","type":"debug","z":"959985ac.089528","name":"test http string","active":false,"console":"false","complete":"true","x":1000,"y":400,"wires":[]},{"id":"ef328349.9dec5","type":"debug","z":"959985ac.089528","name":"test http xml string","active":false,"console":"false","complete":"payload","x":970,"y":480,"wires":[]},{"id":"c7f49a7b.1e1a68","type":"http request","z":"959985ac.089528","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":560,"wires":[["7b90cea7.31f6b"]]},{"id":"7b90cea7.31f6b","type":"debug","z":"959985ac.089528","name":"","active":true,"console":"false","complete":"payload","x":950,"y":560,"wires":[]},{"id":"19f1ab4c.1151c5","type":"inject","z":"959985ac.089528","name":"","topic":"","payload":"localhost","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":180,"wires":[["ef3db51a.ca85c8"]]},{"id":"ef3db51a.ca85c8","type":"function","z":"959985ac.089528","name":"global eweb server address","func":"\nglobal.set(\"server\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["918950ce.f8e23"]]},{"id":"918950ce.f8e23","type":"debug","z":"959985ac.089528","name":"","active":true,"console":"false","complete":"false","x":610,"y":180,"wires":[]},{"id":"61510e40.6a581","type":"comment","z":"959985ac.089528","name":"set enteliweb IP server address","info":"","x":170,"y":140,"wires":[]},{"id":"5af68755.024d18","type":"comment","z":"959985ac.089528","name":"This flow creates Access card users","info":"","x":180,"y":40,"wires":[]},{"id":"67e71ab9.193504","type":"comment","z":"959985ac.089528","name":"step #1: ","info":"","x":90,"y":80,"wires":[]},{"id":"77729095.4eb54","type":"inject","z":"959985ac.089528","name":"start eweb http request","topic":"","payload":"START","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":320,"wires":[["b1a8d8ed.0648f8"]]},{"id":"b081d340.7820a","type":"inject","z":"959985ac.089528","name":"stop eweb http request","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":360,"wires":[["b1a8d8ed.0648f8"]]},{"id":"b1a8d8ed.0648f8","type":"function","z":"959985ac.089528","name":"","func":"\nglobal.set(\"start_stop\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["608a7cc3.e66524"]]},{"id":"608a7cc3.e66524","type":"debug","z":"959985ac.089528","name":"","active":true,"console":"false","complete":"false","x":370,"y":400,"wires":[]},{"id":"599a5aa.71386a4","type":"inject","z":"633356d0.748178","name":"","topic":"","payload":"localhost","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":80,"wires":[["f6db7927.9a4a08"]]},{"id":"f6db7927.9a4a08","type":"function","z":"633356d0.748178","name":"global eweb server address","func":"\nglobal.set(\"server\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["4d36b57d.9aea1c"]]},{"id":"4d36b57d.9aea1c","type":"debug","z":"633356d0.748178","name":"","active":true,"console":"false","complete":"false","x":610,"y":80,"wires":[]},{"id":"b93f6a05.ecb808","type":"inject","z":"633356d0.748178","name":"start eweb http request","topic":"","payload":"START","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":120,"wires":[["dd88da13.a65158"]]},{"id":"6d763733.91ae88","type":"inject","z":"633356d0.748178","name":"stop eweb http request","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":160,"wires":[["dd88da13.a65158"]]},{"id":"dd88da13.a65158","type":"function","z":"633356d0.748178","name":"","func":"\nglobal.set(\"start_stop\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["30f34b00.eb0984"]]},{"id":"30f34b00.eb0984","type":"debug","z":"633356d0.748178","name":"","active":true,"console":"false","complete":"false","x":370,"y":200,"wires":[]},{"id":"7f953526.5e0fcc","type":"debug","z":"633356d0.748178","name":"pg text file","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":510,"wires":[]},{"id":"8f2cf181.06232","type":"delay","z":"633356d0.748178","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":640,"wires":[["ec82d0de.8731","fa930039.15f89"]]},{"id":"8922aef3.ad01a","type":"function","z":"633356d0.748178","name":"http string POST","func":"\n//set server url and method for http post\nvar _server = global.get(\"server\");\nvar server_url = \"http://\"+_server +\"/enteliweb/module/toolbox/wspg/pgencode\";\nvar site = \"cloud_1\";\nvar device = 103;\nvar instance = 1;\nvar pg_text = msg.payload;\nvar _method = \"post\";\nvar _url = server_url + \"?SITE=\" + site + \"&DEV=\" + device + \"&INSTANCE=\" + instance + \"&pgText=\" + pg_text ;\n\nvar msg1 = {method: _method, url: _url};\n\nvar ss = global.get(\"start_stop\");\n\nif (ss == \"START\") {\n   return msg1; \n}\n\n//Fin","outputs":"1","noerr":0,"x":580,"y":560,"wires":[["a99e61a.24daaa","8f2cf181.06232"]]},{"id":"a99e61a.24daaa","type":"debug","z":"633356d0.748178","name":"test http string","active":false,"console":"false","complete":"true","x":810,"y":560,"wires":[]},{"id":"ec82d0de.8731","type":"debug","z":"633356d0.748178","name":"test http xml string","active":false,"console":"false","complete":"payload","x":780,"y":640,"wires":[]},{"id":"fa930039.15f89","type":"http request","z":"633356d0.748178","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":560,"y":720,"wires":[["c994d3bf.407c"]]},{"id":"c994d3bf.407c","type":"debug","z":"633356d0.748178","name":"","active":true,"console":"false","complete":"payload","x":760,"y":720,"wires":[]},{"id":"2c392d5d.80bca2","type":"inject","z":"633356d0.748178","name":"Execute Write","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":530,"wires":[["9b3bf8eb.061e28"]]},{"id":"9b3bf8eb.061e28","type":"function","z":"633356d0.748178","name":"gcl PG to Write","func":"\npg_text = \"//Transfert piece\" +\n    \"\\r\\nVariable BdeDevMaster As Integer\" +\n    \"\\r\\nBdeDevMaster = BDE_DEV_MASTER\" +\n    \"\\r\\n\" +\n    \"\\r\\n'SY ETAT_OCC' = On //(Read (\\\"BDE:BDE1 \\\" + BdeDevMaster + \\\".sy_mode\\\") <> 1)\" +\n    \"\\r\\n'SY ETAT_VENT' = On //Read (\\\"BDE:BDE1 \\\" + BdeDevMaster + \\\".sy_etat\\\")\";\n\nvar msg1 = {payload: pg_text}\n\nreturn msg1;","outputs":1,"noerr":0,"x":330,"y":530,"wires":[["7f953526.5e0fcc","8922aef3.ad01a"]]},{"id":"e4149beb.d1a3d8","type":"looptimer2","z":"ededde91.06f9e","duration":"5","units":"Second","maxloops":"5","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":340,"y":230,"wires":[["86d97c67.c515a"],[]]},{"id":"de8853a8.3cabb","type":"delay","z":"633356d0.748178","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":330,"wires":[["2fea903.4775b7","ef71b7af.8ec8c8"]]},{"id":"fe45241.2bf94d8","type":"function","z":"633356d0.748178","name":"http string GET","func":"\n//set server url and method for http post\nvar _server = global.get(\"server\");\nvar server_url = \"http://\"+_server +\"/enteliweb/module/toolbox/wspg/pgdecode\";\nvar site = \"Cloud_1\";\nvar device = 101;\nvar instance = 1;\nvar pg_text = msg.payload;\nvar _method = \"get\";\nvar _url = server_url + \"?SITE=\" + site + \"&DEV=\" + device + \"&INSTANCE=\" + instance;\n\nvar msg1 = {method: _method, url: _url};\n\nvar ss = global.get(\"start_stop\");\n\nif (ss == \"START\") {\n   return msg1; \n}\n\n//Fin","outputs":"1","noerr":0,"x":330,"y":250,"wires":[["8c3f80bb.1b944","de8853a8.3cabb"]]},{"id":"8c3f80bb.1b944","type":"debug","z":"633356d0.748178","name":"test http string","active":false,"tosidebar":true,"console":false,"complete":"true","x":570,"y":250,"wires":[]},{"id":"2fea903.4775b7","type":"debug","z":"633356d0.748178","name":"test http xml string","active":false,"console":"false","complete":"payload","x":540,"y":330,"wires":[]},{"id":"ef71b7af.8ec8c8","type":"http request","z":"633356d0.748178","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":320,"y":410,"wires":[["3c2a7ede.409502"]]},{"id":"3c2a7ede.409502","type":"debug","z":"633356d0.748178","name":"","active":true,"console":"false","complete":"payload","x":520,"y":410,"wires":[]},{"id":"d9359be.845f768","type":"inject","z":"633356d0.748178","name":"Execute Read","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":250,"wires":[["fe45241.2bf94d8"]]},{"id":"9750d35a.7166d","type":"inject","z":"483e7728.fa0c68","name":"Execute","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":240,"wires":[["94fa3e9.1e34dc"]]},{"id":"94fa3e9.1e34dc","type":"file in","z":"483e7728.fa0c68","name":"Enter here csv file path","filename":"C:\\Users\\plambert\\Google Drive\\Travail\\Marcel Shink\\Ref Tethford\\Granirex\\binary-value.csv","format":"utf8","chunk":false,"sendError":false,"x":330,"y":240,"wires":[["4a893da9.e17ae4"]]},{"id":"4a893da9.e17ae4","type":"csv","z":"483e7728.fa0c68","name":"","sep":";","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\r\\n","temp":"","skip":0,"strings":true,"x":550,"y":240,"wires":[["a4614d34.bdd63"]]},{"id":"74d9746e.cabe3c","type":"debug","z":"483e7728.fa0c68","name":"test json obj","active":true,"console":"false","complete":"payload","x":970,"y":240,"wires":[]},{"id":"a4614d34.bdd63","type":"function","z":"483e7728.fa0c68","name":"csv To jsObject","func":"\nvar object = [];\nvar i;\n\nfor (i = 0; i <  msg.payload.length; i++) { \n    var s = msg.payload[i].Site;\n    var d = msg.payload[i].Device;\n    var t = msg.payload[i].Type;\n    var x = msg.payload[i].Instance;\n    var n = msg.payload[i].Name;  \n    var r = msg.payload[i].Reference; \n\n    object[i]= {siteDevice: s+\"/\"+d, objectIdent: t+\",\"+x, name: n, reference: r };    \n}\n\nvar msg1 = {payload: object};\n\nreturn msg1;","outputs":1,"noerr":0,"x":760,"y":240,"wires":[["74d9746e.cabe3c","75b6e34a.a7addc"]]},{"id":"75b6e34a.a7addc","type":"split","z":"483e7728.fa0c68","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":320,"wires":[["c741dbb8.bd8648"]]},{"id":"6eb5517f.567a9","type":"delay","z":"483e7728.fa0c68","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":480,"wires":[["a3a4747f.cfc3f8","6dd21f2a.e6b3a"]]},{"id":"c741dbb8.bd8648","type":"function","z":"483e7728.fa0c68","name":"http string POST","func":"\n//get tl reference from json object payload\nvar siteDevice = msg.payload.siteDevice;\nvar name = msg.payload.name;\nvar objectIdent = msg.payload.objectIdent; \nvar bdc = msg.payload.reference; \n\n//set server url and method for http post\nvar _server = global.get(\"server\");\nvar server_url = \"http://\"+_server +\"/enteliweb/api/.bacnet/\";\nvar _method = \"post\";\nvar _url = server_url + siteDevice  + \"/\";\n\n  xml_str = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>' +\n    '<Object xmlns=\"http://bacnet.org/csml/1.2\">' +\n        '<ObjectIdentifier name=\"object-identifier\" value=\"'+objectIdent+'\" />' +\n        '<String name=\"object-name\" value=\"'+name+'\" />' +\n        '<ObjectIdentifier name=\"type-reference\" value=\"'+bdc+'\"/>' +\n    '</Object>';\n\n\nvar msg1 = {payload: xml_str, method: _method, url: _url};\n\nvar ss = global.get(\"start_stop\");\n\nif (ss == \"START\") {\n   return msg1; \n}\n\n//Fin","outputs":"1","noerr":0,"x":770,"y":400,"wires":[["5b5c55e5.f5bb7c","6eb5517f.567a9"]]},{"id":"5b5c55e5.f5bb7c","type":"debug","z":"483e7728.fa0c68","name":"test http string","active":false,"console":"false","complete":"true","x":1000,"y":400,"wires":[]},{"id":"a3a4747f.cfc3f8","type":"debug","z":"483e7728.fa0c68","name":"test http xml string","active":false,"console":"false","complete":"payload","x":970,"y":480,"wires":[]},{"id":"6dd21f2a.e6b3a","type":"http request","z":"483e7728.fa0c68","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":560,"wires":[["c3c3a41b.a78d28"]]},{"id":"c3c3a41b.a78d28","type":"debug","z":"483e7728.fa0c68","name":"","active":true,"console":"false","complete":"payload","x":950,"y":560,"wires":[]},{"id":"895b704f.0bdd1","type":"inject","z":"483e7728.fa0c68","name":"","topic":"","payload":"localhost","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":180,"wires":[["bd55a5ef.dd53f8"]]},{"id":"bd55a5ef.dd53f8","type":"function","z":"483e7728.fa0c68","name":"global eweb server address","func":"\nglobal.set(\"server\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["c03d11e8.a77fb"]]},{"id":"c03d11e8.a77fb","type":"debug","z":"483e7728.fa0c68","name":"","active":true,"console":"false","complete":"false","x":610,"y":180,"wires":[]},{"id":"e5f42e7.61317d","type":"comment","z":"483e7728.fa0c68","name":"set enteliweb IP server address","info":"","x":170,"y":140,"wires":[]},{"id":"6cbb4546.4627ac","type":"comment","z":"483e7728.fa0c68","name":"This flow creates ","info":"","x":120,"y":40,"wires":[]},{"id":"80a455c5.0021b8","type":"comment","z":"483e7728.fa0c68","name":"step #1: ","info":"","x":90,"y":80,"wires":[]},{"id":"9a015cc.7546aa","type":"inject","z":"483e7728.fa0c68","name":"start eweb http request","topic":"","payload":"START","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":320,"wires":[["5e52da06.51d564"]]},{"id":"552af5b9.08b76c","type":"inject","z":"483e7728.fa0c68","name":"stop eweb http request","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":360,"wires":[["5e52da06.51d564"]]},{"id":"5e52da06.51d564","type":"function","z":"483e7728.fa0c68","name":"","func":"\nglobal.set(\"start_stop\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["e52051dc.cbd74"]]},{"id":"e52051dc.cbd74","type":"debug","z":"483e7728.fa0c68","name":"","active":true,"console":"false","complete":"false","x":370,"y":400,"wires":[]},{"id":"b92797d2.8002a8","type":"inject","z":"7938131d.bf35ac","name":"Execute","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":360,"wires":[["ffa24e7f.7bb2d"]]},{"id":"ffa24e7f.7bb2d","type":"file in","z":"7938131d.bf35ac","name":"Enter here csv file path","filename":"C:\\Users\\plambert\\Google Drive\\Travail\\CHRGP\\lecteur kW Veris changement oct. 2020\\objectlist.csv","format":"utf8","chunk":false,"sendError":false,"x":330,"y":360,"wires":[["1be4f8bb.a61fd7"]]},{"id":"1be4f8bb.a61fd7","type":"csv","z":"7938131d.bf35ac","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\r\\n","temp":"","skip":0,"strings":true,"x":570,"y":360,"wires":[["35c15691.39763a"]]},{"id":"66120b05.438db4","type":"debug","z":"7938131d.bf35ac","name":"test json obj","active":true,"console":"false","complete":"payload","x":970,"y":360,"wires":[]},{"id":"35c15691.39763a","type":"function","z":"7938131d.bf35ac","name":"csv To jsObject","func":"\nvar OjectRef = [];\nvar new_msg = [];\nvar outputMsgs = [];\nvar tlObject = [];\nvar i;\nvar _poll = global.get(\"poll\");\n\nfunction tlInstCreator(type, inst) {\n  var tlInst;\n  var log_interval;\n  \n  if (type == \"analog-input\") {\n    tlInst = 100000 + inst * 10;\n    log_interval = _poll;     \n  } else if (type == \"binary-input\") {\n    tlInst = 100000 + inst * 10;\n    log_interval = 0; \n  } else if (type == \"multi-state-input\") {\n    tlInst = 100000 + inst * 10;\n    log_interval = 0; \n  } else if (type == \"analog-output\") {\n    tlInst = 200000 + inst * 10;\n    log_interval = 0;\n  } else if (type == \"binary-output\") {\n    tlInst = 200000 + inst * 10;\n    log_interval = 0;\n  } else if (type == \"multi-state-output\") {\n    tlInst = 200000 + inst * 10;\n    log_interval = 0;\n  } else if (type == \"analog-value\") {\n    //tlInst = 300000 + inst * 10;\n    tlInst =  inst;\n    log_interval = _poll;\n  } else if (type == \"binary-value\") {\n    //tlInst = 400000 + inst * 10;\n    tlInst =  inst;\n    log_interval = 0;\n  } else if (type == \"multi-state-value\") {\n    tlInst = 500000 + inst * 10;\n    log_interval = 0;\n  } \n  return [tlInst,log_interval] ;\n}\n\n\nfor (i = 0; i <  msg.payload.length; i++) { \n    var s = msg.payload[i][\"Object Reference\"].split(\".\")[0];\n    s = s.substring(2);\n    var n = msg.payload[i].Name + \" TL\";\n    var objref = msg.payload[i].Object_Type;\n    var objid = msg.payload[i].Object_Identifier;\n    var tl_inst = msg.payload[i].tl_instance;\n    objid = parseInt(objid.replace(/\\D/g,''));\n    \n    tlInst = tlInstCreator(objref, objid)[0];\n    //tlInst = tl_inst;\n    logInt = tlInstCreator(objref, objid)[1];\n\n    tlObject[i]= {siteDevice: s, tlName: n, tlObjectIdent: \"trend-log\"+\",\"+tlInst, tlObjectRefIdent: objref+\",\"+objid, logInterval: logInt };    \n}\n\nvar msg1 = {payload: tlObject};\n\nreturn msg1;","outputs":1,"noerr":0,"x":760,"y":360,"wires":[["66120b05.438db4","177dd68a.45c819"]]},{"id":"177dd68a.45c819","type":"split","z":"7938131d.bf35ac","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":440,"wires":[["90c0f565.8abc68"]]},{"id":"2514c210.2b91ce","type":"delay","z":"7938131d.bf35ac","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":600,"wires":[["be468baa.ccc988","748d519a.cbe75"]]},{"id":"7ebbc9d.27b5d38","type":"debug","z":"7938131d.bf35ac","name":"test http string","active":false,"console":"false","complete":"true","x":1030,"y":520,"wires":[]},{"id":"be468baa.ccc988","type":"debug","z":"7938131d.bf35ac","name":"test http xml string","active":false,"console":"false","complete":"payload","x":970,"y":600,"wires":[]},{"id":"748d519a.cbe75","type":"http request","z":"7938131d.bf35ac","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":680,"wires":[["5e88f529.280bcc"]]},{"id":"5e88f529.280bcc","type":"debug","z":"7938131d.bf35ac","name":"","active":true,"console":"false","complete":"payload","x":950,"y":680,"wires":[]},{"id":"466af6d9.9823f8","type":"inject","z":"7938131d.bf35ac","name":"","topic":"","payload":"localhost","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":180,"wires":[["2a497866.2ca668"]]},{"id":"2a497866.2ca668","type":"function","z":"7938131d.bf35ac","name":"global eweb server address","func":"\nglobal.set(\"server\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["24a0ce91.e24b92"]]},{"id":"24a0ce91.e24b92","type":"debug","z":"7938131d.bf35ac","name":"","active":true,"console":"false","complete":"false","x":610,"y":180,"wires":[]},{"id":"f61e8bf1.f85668","type":"comment","z":"7938131d.bf35ac","name":"set enteliweb IP server address","info":"","x":170,"y":140,"wires":[]},{"id":"47c31ae.7fbf1e4","type":"inject","z":"7938131d.bf35ac","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":90,"y":280,"wires":[["37f7b98b.f2fe06"]]},{"id":"37f7b98b.f2fe06","type":"function","z":"7938131d.bf35ac","name":"global trend log minutes","func":"\nvar p = msg.payload * 6000;\nglobal.set(\"poll\", p);\n\nvar msg1 = {payload: p};\n\nreturn msg1;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["2b6fba32.9ce7f6"]]},{"id":"2b6fba32.9ce7f6","type":"debug","z":"7938131d.bf35ac","name":"","active":true,"console":"false","complete":"false","x":550,"y":280,"wires":[]},{"id":"5a5bd48e.2d570c","type":"comment","z":"7938131d.bf35ac","name":"set trend log poll time","info":"","x":140,"y":240,"wires":[]},{"id":"68a1d233.c2662c","type":"comment","z":"7938131d.bf35ac","name":"This flow creates trendlog automatically through eweb server. API is required.","info":"","x":310,"y":40,"wires":[]},{"id":"7559ce8f.d248d","type":"comment","z":"7938131d.bf35ac","name":"step #1: Output a csv file from eweb with \"Object_Type\" and Object_Identifier\" column  ***comma separeted***","info":"","x":410,"y":80,"wires":[]},{"id":"d761a995.5c15e8","type":"inject","z":"7938131d.bf35ac","name":"start eweb http request","topic":"","payload":"START","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":440,"wires":[["bb125473.2bb388"]]},{"id":"1b222573.19045b","type":"inject","z":"7938131d.bf35ac","name":"stop eweb http request","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":480,"wires":[["bb125473.2bb388"]]},{"id":"bb125473.2bb388","type":"function","z":"7938131d.bf35ac","name":"","func":"\nglobal.set(\"start_stop\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["4558442e.af584c"]]},{"id":"4558442e.af584c","type":"debug","z":"7938131d.bf35ac","name":"","active":true,"console":"false","complete":"false","x":370,"y":520,"wires":[]},{"id":"3ba5478c.a2ac78","type":"function","z":"7938131d.bf35ac","name":"csv To jsObject","func":"\nvar OjectRef = [];\nvar new_msg = [];\nvar outputMsgs = [];\nvar tlObject = [];\nvar i;\nvar _poll = global.get(\"poll\");\n\nfunction tlInstCreator(type, inst) {\n  var tlInst;\n  var log_interval;\n  \n  switch(type) {\n    case \"binary-input\":\n    case \"multi-state-input\":    \n      tlInst = 100000 + inst * 10;\n      log_interval = 0;\n      break;        \n    case \"analog-input\":\n      tlInst = 100000 + inst * 10;\n      log_interval = _poll;      \n      break;\n    case \"binary-output\":    \n    case \"analog-output\":\n      tlInst = 200000 + inst * 10;\n      log_interval = 0;\n      break;\n    case \"analog-value\":    \n      //tlInst = 300000 + inst * 10;\n      tlInst = inst + 200000;\n      log_interval = _poll;      \n      break;   \n    case \"binary-value\":    \n      tlInst = 400000 + inst * 10;\n      log_interval = 0;\n      break;\n    case \"multi-state-value\":    \n      tlInst = 500000 + inst * 10;\n      log_interval = 0;\n      break;         \n  }\n  return [tlInst,log_interval] ;\n}\n\n\nfor (i = 0; i <  msg.payload.length; i++) { \n    var s = msg.payload[i][\"Object Reference\"].split(\".\")[0];\n    s = s.substring(2);\n    var n = msg.payload[i].Name + \" TL\";\n    var objref = msg.payload[i].Object_Type;\n    var objid = msg.payload[i].Object_Identifier;\n    objid = parseInt(objid.replace(/\\D/g,''));\n    \n    tlInst = tlInstCreator(objref, objid)[0];\n    logInt = tlInstCreator(objref, objid)[1];\n\n    tlObject[i]= {siteDevice: s, tlName: n, tlObjectIdent: \"trend-log\"+\",\"+tlInst, tlObjectRefIdent: objref+\",\"+objid, logInterval: logInt };    \n}\n\nvar msg1 = {payload: tlObject};\n\nreturn msg1;","outputs":1,"noerr":0,"x":760,"y":320,"wires":[[]]},{"id":"9b0bcd91.ea625","type":"inject","z":"7b0db34f.9b75bc","name":"Execute","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":280,"wires":[["7a083f34.a25b5"]]},{"id":"7a083f34.a25b5","type":"file in","z":"7b0db34f.9b75bc","name":"Enter here csv file path","filename":"/home/plambert/Documents/eweb-csv/121105685/binary-output.csv","format":"utf8","chunk":false,"sendError":false,"x":330,"y":280,"wires":[["3a794db7.bb25c2"]]},{"id":"3a794db7.bb25c2","type":"csv","z":"7b0db34f.9b75bc","name":"","sep":";","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\r\\n","temp":"","skip":0,"x":550,"y":280,"wires":[["4e6b8e1e.d12b5"]]},{"id":"7b1d2877.5dd858","type":"debug","z":"7b0db34f.9b75bc","name":"test json obj","active":true,"console":"false","complete":"payload","x":970,"y":280,"wires":[]},{"id":"4e6b8e1e.d12b5","type":"function","z":"7b0db34f.9b75bc","name":"csv To jsObject","func":"\nvar object = [];\nvar i;\n\nfor (i = 0; i <  msg.payload.length; i++) { \n    var s = msg.payload[i].Site;\n    var d = msg.payload[i].Device;\n    var t = msg.payload[i].Type;\n    var x = msg.payload[i].Instance;\n    var n = msg.payload[i].Name;     \n    var r = msg.payload[i].Reference;\n\n    object[i]= {siteDevice: s+\"/\"+d, objectIdent: t+\",\"+x, name: n , typeRef: r };    \n}\n\nvar msg1 = {payload: object};\n\nreturn msg1;","outputs":1,"noerr":0,"x":760,"y":280,"wires":[["7b1d2877.5dd858","6c820cb4.7cded4"]]},{"id":"6c820cb4.7cded4","type":"split","z":"7b0db34f.9b75bc","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":360,"wires":[["74729da7.144434"]]},{"id":"cbb499d2.ee5f88","type":"delay","z":"7b0db34f.9b75bc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":520,"wires":[["2728081a.c44ef8","b8053181.4c76f"]]},{"id":"74729da7.144434","type":"function","z":"7b0db34f.9b75bc","name":"http string POST","func":"\n//get tl reference from json object payload\nvar siteDevice = msg.payload.siteDevice;\nvar name = msg.payload.name;\nvar objectIdent = msg.payload.objectIdent; \nvar ref = msg.payload.typeRef;\n\n//set server url and method for http post\nvar _server = global.get(\"server\");\nvar server_url = \"http://\"+_server +\"/enteliweb/api/.bacnet/\";\nvar _method = \"post\";\nvar _url = server_url + siteDevice  + \"/\";\n\n  xml_str = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>' +\n    '<Object xmlns=\"http://bacnet.org/csml/1.2\">' +\n        '<ObjectIdentifier name=\"object-identifier\" value=\"'+objectIdent+'\" />' +\n        '<String name=\"object-name\" value=\"'+name+'\" />' +\n        '<ObjectIdentifier name=\"type-reference\" value=\"'+ref+'\"/>' +\n    '</Object>';\n\n\nvar msg1 = {payload: xml_str, method: _method, url: _url};\n\nvar ss = global.get(\"start_stop\");\n\nif (ss == \"START\") {\n   return msg1; \n}\n\n//Fin","outputs":"1","noerr":0,"x":770,"y":440,"wires":[["5faf3bc1.731154","cbb499d2.ee5f88"]]},{"id":"5faf3bc1.731154","type":"debug","z":"7b0db34f.9b75bc","name":"test http string","active":false,"console":"false","complete":"true","x":1000,"y":440,"wires":[]},{"id":"2728081a.c44ef8","type":"debug","z":"7b0db34f.9b75bc","name":"test http xml string","active":false,"console":"false","complete":"payload","x":970,"y":520,"wires":[]},{"id":"b8053181.4c76f","type":"http request","z":"7b0db34f.9b75bc","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":750,"y":600,"wires":[["57c4dd92.7b9284"]]},{"id":"57c4dd92.7b9284","type":"debug","z":"7b0db34f.9b75bc","name":"","active":true,"console":"false","complete":"payload","x":950,"y":600,"wires":[]},{"id":"a8afac8f.33bf2","type":"inject","z":"7b0db34f.9b75bc","name":"","topic":"","payload":"10.12.0.138","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":180,"wires":[["efd87e4.1e1538"]]},{"id":"efd87e4.1e1538","type":"function","z":"7b0db34f.9b75bc","name":"global eweb server address","func":"\nglobal.set(\"server\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["11c2e770.0f7b69"]]},{"id":"11c2e770.0f7b69","type":"debug","z":"7b0db34f.9b75bc","name":"","active":true,"console":"false","complete":"false","x":610,"y":180,"wires":[]},{"id":"2b4d5a33.4b7b66","type":"comment","z":"7b0db34f.9b75bc","name":"set enteliweb IP server address","info":"","x":170,"y":140,"wires":[]},{"id":"14f58a82.f869c5","type":"comment","z":"7b0db34f.9b75bc","name":"This flow creates ","info":"","x":120,"y":40,"wires":[]},{"id":"e2e7afba.dbd9f","type":"comment","z":"7b0db34f.9b75bc","name":"step #1: ","info":"","x":90,"y":80,"wires":[]},{"id":"90b8e6cd.c4b898","type":"inject","z":"7b0db34f.9b75bc","name":"start eweb http request","topic":"","payload":"START","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":360,"wires":[["453e12e3.a0ccfc"]]},{"id":"a4f5ebad.b041b8","type":"inject","z":"7b0db34f.9b75bc","name":"stop eweb http request","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":400,"wires":[["453e12e3.a0ccfc"]]},{"id":"453e12e3.a0ccfc","type":"function","z":"7b0db34f.9b75bc","name":"","func":"\nglobal.set(\"start_stop\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["5b497b75.aa9c14"]]},{"id":"5b497b75.aa9c14","type":"debug","z":"7b0db34f.9b75bc","name":"","active":true,"console":"false","complete":"false","x":370,"y":440,"wires":[]},{"id":"58d5038.eedfbfc","type":"comment","z":"7b0db34f.9b75bc","name":"*** attention pour BO ajouter FBack-enable  false","info":"","x":490,"y":40,"wires":[]},{"id":"2a3ed714.ff5038","type":"inject","z":"ea5fc46a.3ed428","name":"Execute","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":240,"wires":[["ad91a6dc.341988"]]},{"id":"ad91a6dc.341988","type":"file in","z":"ea5fc46a.3ed428","name":"Enter here csv file path","filename":"/home/plambert/Documents/eweb-csv/loop.csv","format":"utf8","chunk":false,"sendError":false,"x":330,"y":240,"wires":[["9ebd5832.8616a8"]]},{"id":"9ebd5832.8616a8","type":"csv","z":"ea5fc46a.3ed428","name":"","sep":";","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\r\\n","temp":"","skip":0,"x":550,"y":240,"wires":[["d2c5eb38.7f9d28"]]},{"id":"d051a5c7.2a3388","type":"debug","z":"ea5fc46a.3ed428","name":"test json obj","active":true,"console":"false","complete":"payload","x":970,"y":240,"wires":[]},{"id":"d2c5eb38.7f9d28","type":"function","z":"ea5fc46a.3ed428","name":"csv To jsObject","func":"\nvar object = [];\nvar i;\n\nfor (i = 0; i <  msg.payload.length; i++) { \n    var s = msg.payload[i].Site;\n    var d = msg.payload[i].Device;\n    var t = msg.payload[i].Type;\n    var x = msg.payload[i].Instance;\n    var n = msg.payload[i].Name;  \n    var inp = msg.payload[i].Input_Ref;\n    var sp = msg.payload[i].Setpoint_Ref;    \n    var alg = msg.payload[i].Algorithm; \n    var act = msg.payload[i].Action;     \n    var p = msg.payload[i].Proportional_Constant; \n    var ir = msg.payload[i].Integral_Constant;\n    var db = msg.payload[i].DeadBand; \n    var rb = msg.payload[i].Resetband; \n        \n    object[i]= {siteDevice: s+\"/\"+d, objectIdent: t+\",\"+x, name: n, inputRef: inp, setPoint: sp, algorithm: alg, action: act, propBand: p, deadband: db, resetBand: rb, IntegralRate: ir };    \n}\n\nvar msg1 = {payload: object};\n\nreturn msg1;","outputs":1,"noerr":0,"x":760,"y":240,"wires":[["d051a5c7.2a3388","fecee1f8.b68e1"]]},{"id":"fecee1f8.b68e1","type":"split","z":"ea5fc46a.3ed428","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":320,"wires":[["438b2ea8.4dc25"]]},{"id":"ee8d6185.1e6d9","type":"delay","z":"ea5fc46a.3ed428","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":480,"wires":[["aaa664f.b500a98","1d8fbcf3.9936e3"]]},{"id":"438b2ea8.4dc25","type":"function","z":"ea5fc46a.3ed428","name":"http string POST","func":"\n//get tl reference from json object payload\nvar siteDevice = msg.payload.siteDevice;\nvar name = msg.payload.name;\nvar input = msg.payload.inputRef;\nvar setpoint = msg.payload.setPoint;\nvar objectIdent = msg.payload.objectIdent; \nvar alg = msg.payload.algorithm;\nvar act = msg.payload.action;\nvar pb = msg.payload.propBand;\nvar db = msg.payload.deadband;\nvar rb = msg.payload.resetBand;\nvar ir = msg.payload.IntegralRate;\nvar set;\n\n//set server url and method for http post\nvar _server = global.get(\"server\");\nvar server_url = \"http://\"+_server +\"/enteliweb/api/.bacnet/\";\nvar _method = \"post\";\nvar _url = server_url + siteDevice  + \"/\";\n\nif (setpoint == \"None\") {\n    set = '<Sequence name=\"setpoint-ref\" type=\"0-BACnetObjectPropertyReference\">' +\n              '<ObjectIdentifier name=\"objectIdentifier\" unspecifiedValue=\"true\"/>' +\n              '<Enumerated name=\"propertyIdentifier\" value=\"all\" type=\"0-BACnetPropertyIdentifier\"/>' +\n          '</Sequence>'\n} else {\n    set = '<Sequence name=\"controlled-variable-reference\" type=\"0-BACnetObjectPropertyReference\">' +\n              '<ObjectIdentifier name=\"objectIdentifier\" value=\"'+setpoint+'\"/>' +\n              '<Enumerated name=\"propertyIdentifier\" value=\"present-value\" type=\"0-BACnetPropertyIdentifier\"/>' +\n          '</Sequence>'\n}\n\n  xml_str = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>' +\n    '<Object xmlns=\"http://bacnet.org/csml/1.2\">' +\n        '<ObjectIdentifier name=\"object-identifier\" value=\"'+objectIdent+'\" />' +\n        '<String name=\"object-name\" value=\"'+name+'\" />' +\n        '<Sequence name=\"controlled-variable-reference\" type=\"0-BACnetObjectPropertyReference\">' +\n            '<ObjectIdentifier name=\"objectIdentifier\" value=\"'+input+'\"/>' +\n            '<Enumerated name=\"propertyIdentifier\" value=\"present-value\" type=\"0-BACnetPropertyIdentifier\"/>' +\n        '</Sequence>' +\n        set +\n        '<Enumerated name=\"algorithm\" value=\"'+alg+'\"/>' +\n        '<Enumerated name=\"action\" value=\"'+act+'\"/>' +\n        '<Real name=\"proportional-constant\" value=\"'+pb+'\"/>' +\n        '<Real name=\"deadband\" value=\"'+db+'\"/>' +\n        '<Real name=\"reset-band\" value=\"'+rb+'\"/>' +\n        '<Real name=\"integral-constant\" value=\"'+ir+'\"/>' +\n    '</Object>';\n\n\nvar msg1 = {payload: xml_str, method: _method, url: _url};\n\nvar ss = global.get(\"start_stop\");\n\nif (ss == \"START\") {\n   return msg1; \n}\n\n//Fin","outputs":"1","noerr":0,"x":770,"y":400,"wires":[["6e7e8b87.82a5d4","ee8d6185.1e6d9"]]},{"id":"6e7e8b87.82a5d4","type":"debug","z":"ea5fc46a.3ed428","name":"test http string","active":false,"console":"false","complete":"true","x":1000,"y":400,"wires":[]},{"id":"aaa664f.b500a98","type":"debug","z":"ea5fc46a.3ed428","name":"test http xml string","active":false,"console":"false","complete":"payload","x":970,"y":480,"wires":[]},{"id":"1d8fbcf3.9936e3","type":"http request","z":"ea5fc46a.3ed428","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":750,"y":560,"wires":[["12df1a0c.e2b726"]]},{"id":"12df1a0c.e2b726","type":"debug","z":"ea5fc46a.3ed428","name":"","active":true,"console":"false","complete":"payload","x":950,"y":560,"wires":[]},{"id":"899f3f0e.159d7","type":"inject","z":"ea5fc46a.3ed428","name":"","topic":"","payload":"10.12.0.140","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":180,"wires":[["1387bb12.7c1f65"]]},{"id":"1387bb12.7c1f65","type":"function","z":"ea5fc46a.3ed428","name":"global eweb server address","func":"\nglobal.set(\"server\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["d533f69e.814b18"]]},{"id":"d533f69e.814b18","type":"debug","z":"ea5fc46a.3ed428","name":"","active":true,"console":"false","complete":"false","x":610,"y":180,"wires":[]},{"id":"c0e0440c.e7f588","type":"comment","z":"ea5fc46a.3ed428","name":"set enteliweb IP server address","info":"","x":170,"y":140,"wires":[]},{"id":"a0b3376b.206b08","type":"comment","z":"ea5fc46a.3ed428","name":"This flow creates ","info":"","x":120,"y":40,"wires":[]},{"id":"bf6319be.a15298","type":"comment","z":"ea5fc46a.3ed428","name":"step #1: ","info":"","x":90,"y":80,"wires":[]},{"id":"9c919306.e6d29","type":"inject","z":"ea5fc46a.3ed428","name":"start eweb http request","topic":"","payload":"START","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":320,"wires":[["1ca60130.22f9af"]]},{"id":"17a81869.9d5df8","type":"inject","z":"ea5fc46a.3ed428","name":"stop eweb http request","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":360,"wires":[["1ca60130.22f9af"]]},{"id":"1ca60130.22f9af","type":"function","z":"ea5fc46a.3ed428","name":"","func":"\nglobal.set(\"start_stop\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["e499e1df.4b605"]]},{"id":"e499e1df.4b605","type":"debug","z":"ea5fc46a.3ed428","name":"","active":true,"console":"false","complete":"false","x":370,"y":400,"wires":[]},{"id":"ceb384a6.3dca98","type":"inject","z":"dc65da.fbf78a28","name":"Execute","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":240,"wires":[["bf083ee3.1068f"]]},{"id":"bf083ee3.1068f","type":"file in","z":"dc65da.fbf78a28","name":"Enter here csv file path","filename":"/home/plambert/Documents/eweb-csv/mt.csv","format":"utf8","chunk":false,"sendError":false,"x":330,"y":240,"wires":[["db216f55.5aba5"]]},{"id":"db216f55.5aba5","type":"csv","z":"dc65da.fbf78a28","name":"","sep":";","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\r\\n","temp":"","skip":0,"x":550,"y":240,"wires":[["d12c9cb9.35e9f"]]},{"id":"568e3e65.f82da","type":"debug","z":"dc65da.fbf78a28","name":"test json obj","active":true,"console":"false","complete":"payload","x":970,"y":240,"wires":[]},{"id":"d12c9cb9.35e9f","type":"function","z":"dc65da.fbf78a28","name":"csv To jsObject","func":"\nvar object = [];\nvar i;\n\nfor (i = 0; i <  msg.payload.length; i++) { \n    var s = msg.payload[i].Site;\n    var d = msg.payload[i].Device;\n    var t = msg.payload[i].Type;\n    var x = msg.payload[i].Instance;\n    var n = msg.payload[i].Name;  \n    var u = msg.payload[i].Units; \n\n    object[i]= {siteDevice: s+\"/\"+d, objectIdent: t+\",\"+x, name: n, units: u };    \n}\n\nvar msg1 = {payload: object};\n\nreturn msg1;","outputs":1,"noerr":0,"x":760,"y":240,"wires":[["568e3e65.f82da","a305aa49.ab9138"]]},{"id":"a305aa49.ab9138","type":"split","z":"dc65da.fbf78a28","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":320,"wires":[["5cd512a7.2197fc"]]},{"id":"acef89bd.e01d58","type":"delay","z":"dc65da.fbf78a28","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":480,"wires":[["72387268.b8339c","ee36ad0d.ff06e"]]},{"id":"5cd512a7.2197fc","type":"function","z":"dc65da.fbf78a28","name":"http string POST","func":"\n//get tl reference from json object payload\nvar siteDevice = msg.payload.siteDevice;\nvar name = msg.payload.name;\nvar objectIdent = msg.payload.objectIdent; \n\n//set server url and method for http post\nvar _server = global.get(\"server\");\nvar server_url = \"http://\"+_server +\"/enteliweb/api/.bacnet/\";\nvar _method = \"post\";\nvar _url = server_url + siteDevice  + \"/\";\n\n  xml_str = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>' +\n    '<Object xmlns=\"http://bacnet.org/csml/1.2\">' +\n        '<ObjectIdentifier name=\"object-identifier\" value=\"'+objectIdent+'\" />' +\n        '<String name=\"object-name\" value=\"'+name+'\" />' +\n    '</Object>';\n\n\nvar msg1 = {payload: xml_str, method: _method, url: _url};\n\nvar ss = global.get(\"start_stop\");\n\nif (ss == \"START\") {\n   return msg1; \n}\n\n//Fin","outputs":"1","noerr":0,"x":770,"y":400,"wires":[["1af875d6.6a350a","acef89bd.e01d58"]]},{"id":"1af875d6.6a350a","type":"debug","z":"dc65da.fbf78a28","name":"test http string","active":false,"console":"false","complete":"true","x":1000,"y":400,"wires":[]},{"id":"72387268.b8339c","type":"debug","z":"dc65da.fbf78a28","name":"test http xml string","active":false,"console":"false","complete":"payload","x":970,"y":480,"wires":[]},{"id":"ee36ad0d.ff06e","type":"http request","z":"dc65da.fbf78a28","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":750,"y":560,"wires":[["a397fa7f.8f3e48"]]},{"id":"a397fa7f.8f3e48","type":"debug","z":"dc65da.fbf78a28","name":"","active":true,"console":"false","complete":"payload","x":950,"y":560,"wires":[]},{"id":"8a3b998f.ab9468","type":"inject","z":"dc65da.fbf78a28","name":"","topic":"","payload":"10.12.0.140","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":180,"wires":[["3489863b.1758ea"]]},{"id":"3489863b.1758ea","type":"function","z":"dc65da.fbf78a28","name":"global eweb server address","func":"\nglobal.set(\"server\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["1f8bd143.53976f"]]},{"id":"1f8bd143.53976f","type":"debug","z":"dc65da.fbf78a28","name":"","active":true,"console":"false","complete":"false","x":610,"y":180,"wires":[]},{"id":"d1cae7f5.bf7f28","type":"comment","z":"dc65da.fbf78a28","name":"set enteliweb IP server address","info":"","x":170,"y":140,"wires":[]},{"id":"53b6d13c.9b4a6","type":"comment","z":"dc65da.fbf78a28","name":"This flow creates ","info":"","x":120,"y":40,"wires":[]},{"id":"3f49b17b.2c437e","type":"comment","z":"dc65da.fbf78a28","name":"step #1: ","info":"","x":90,"y":80,"wires":[]},{"id":"5f126a68.7b6634","type":"inject","z":"dc65da.fbf78a28","name":"start eweb http request","topic":"","payload":"START","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":320,"wires":[["e7c9d6f2.b90378"]]},{"id":"c18b9543.df7128","type":"inject","z":"dc65da.fbf78a28","name":"stop eweb http request","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":360,"wires":[["e7c9d6f2.b90378"]]},{"id":"e7c9d6f2.b90378","type":"function","z":"dc65da.fbf78a28","name":"","func":"\nglobal.set(\"start_stop\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["41e718d0.08a9a8"]]},{"id":"41e718d0.08a9a8","type":"debug","z":"dc65da.fbf78a28","name":"","active":true,"console":"false","complete":"false","x":370,"y":400,"wires":[]},{"id":"8f52a5a9.3152d8","type":"inject","z":"a0803973.9b9898","name":"Execute","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":280,"wires":[["86e40552.e63878"]]},{"id":"86e40552.e63878","type":"file in","z":"a0803973.9b9898","name":"Enter here csv file path","filename":"/home/plambert/Documents/eweb-csv/program.csv","format":"utf8","chunk":false,"sendError":false,"x":330,"y":280,"wires":[["1567b83a.8cd0b8"]]},{"id":"1567b83a.8cd0b8","type":"csv","z":"a0803973.9b9898","name":"","sep":";","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\r\\n","temp":"","skip":0,"x":550,"y":280,"wires":[["ccc9169d.f4e218"]]},{"id":"974e3a0a.044f08","type":"debug","z":"a0803973.9b9898","name":"test json obj","active":true,"console":"false","complete":"payload","x":970,"y":280,"wires":[]},{"id":"ccc9169d.f4e218","type":"function","z":"a0803973.9b9898","name":"csv To jsObject","func":"\nvar object = [];\nvar i;\n\nfor (i = 0; i <  msg.payload.length; i++) { \n    var s = msg.payload[i].Site;\n    var d = msg.payload[i].Device;\n    var t = msg.payload[i].Type;\n    var x = msg.payload[i].Instance;\n    var n = msg.payload[i].Name;     \n\n    object[i]= {siteDevice: s+\"/\"+d, objectIdent: t+\",\"+x, name: n };    \n}\n\nvar msg1 = {payload: object};\n\nreturn msg1;","outputs":1,"noerr":0,"x":760,"y":280,"wires":[["974e3a0a.044f08","8029e1b7.dd97c"]]},{"id":"8029e1b7.dd97c","type":"split","z":"a0803973.9b9898","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":360,"wires":[["233d4f64.06852"]]},{"id":"128006bd.af2f79","type":"delay","z":"a0803973.9b9898","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":520,"wires":[["27890013.c41fe","fd8da1af.8ce43"]]},{"id":"233d4f64.06852","type":"function","z":"a0803973.9b9898","name":"http string POST","func":"\n//get tl reference from json object payload\nvar siteDevice = msg.payload.siteDevice;\nvar name = msg.payload.name;\nvar objectIdent = msg.payload.objectIdent; \n\n//set server url and method for http post\nvar _server = global.get(\"server\");\nvar server_url = \"http://\"+_server +\"/enteliweb/api/.bacnet/\";\nvar _method = \"post\";\nvar _url = server_url + siteDevice  + \"/\";\n\n  xml_str = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>' +\n    '<Object xmlns=\"http://bacnet.org/csml/1.2\">' +\n        '<ObjectIdentifier name=\"object-identifier\" value=\"'+objectIdent+'\" />' +\n        '<String name=\"object-name\" value=\"'+name+'\" />' +\n        '<Enumerated name=\"program-state\" value=\"waiting\"/>' +\n        '<Boolean name=\"out-of-service\" value=\"0\"/>' +\n    '</Object>';\n\n\nvar msg1 = {payload: xml_str, method: _method, url: _url};\n\nvar ss = global.get(\"start_stop\");\n\nif (ss == \"START\") {\n   return msg1; \n}\n\n//Fin","outputs":"1","noerr":0,"x":770,"y":440,"wires":[["dc18c79.ebf9538","128006bd.af2f79"]]},{"id":"dc18c79.ebf9538","type":"debug","z":"a0803973.9b9898","name":"test http string","active":false,"console":"false","complete":"true","x":1000,"y":440,"wires":[]},{"id":"27890013.c41fe","type":"debug","z":"a0803973.9b9898","name":"test http xml string","active":false,"console":"false","complete":"payload","x":970,"y":520,"wires":[]},{"id":"fd8da1af.8ce43","type":"http request","z":"a0803973.9b9898","name":"","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","proxy":"","authType":"basic","x":750,"y":600,"wires":[["c25bb430.fc95a8"]]},{"id":"c25bb430.fc95a8","type":"debug","z":"a0803973.9b9898","name":"","active":true,"console":"false","complete":"payload","x":950,"y":600,"wires":[]},{"id":"e611edb3.a9bdf","type":"inject","z":"a0803973.9b9898","name":"","topic":"","payload":"10.12.0.140","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":180,"wires":[["6152ce8a.cfb75"]]},{"id":"6152ce8a.cfb75","type":"function","z":"a0803973.9b9898","name":"global eweb server address","func":"\nglobal.set(\"server\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["55cf3ba5.c2e704"]]},{"id":"55cf3ba5.c2e704","type":"debug","z":"a0803973.9b9898","name":"","active":true,"console":"false","complete":"false","x":610,"y":180,"wires":[]},{"id":"b9520b1b.e676c8","type":"comment","z":"a0803973.9b9898","name":"set enteliweb IP server address","info":"","x":170,"y":140,"wires":[]},{"id":"5936cf6b.fddc9","type":"comment","z":"a0803973.9b9898","name":"This flow creates ","info":"","x":120,"y":40,"wires":[]},{"id":"4a5cd555.26652c","type":"comment","z":"a0803973.9b9898","name":"step #1: ","info":"","x":90,"y":80,"wires":[]},{"id":"c79087aa.2d97d8","type":"inject","z":"a0803973.9b9898","name":"start eweb http request","topic":"","payload":"START","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":360,"wires":[["4a185375.7e16dc"]]},{"id":"37ecbb75.0971f4","type":"inject","z":"a0803973.9b9898","name":"stop eweb http request","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":400,"wires":[["4a185375.7e16dc"]]},{"id":"4a185375.7e16dc","type":"function","z":"a0803973.9b9898","name":"","func":"\nglobal.set(\"start_stop\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["504f9e5c.2641c"]]},{"id":"504f9e5c.2641c","type":"debug","z":"a0803973.9b9898","name":"","active":true,"console":"false","complete":"false","x":370,"y":440,"wires":[]},{"id":"2ec14c33.762614","type":"comment","z":"633356d0.748178","name":"Foncitonne avec module ToolBox","info":"***Attention*** ","x":160,"y":30,"wires":[]},{"id":"38edecc9.42af74","type":"inject","z":"ac1dd763.60f5e8","name":"XML String","topic":"","payload":"{\"a\":1}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":520,"wires":[["f4f7492c.0ee1d8"]]},{"id":"600dd712.f8ed98","type":"debug","z":"ac1dd763.60f5e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":520,"wires":[]},{"id":"30f8f2d1.00d1ce","type":"inject","z":"ac1dd763.60f5e8","name":"Object","topic":"","payload":"{\"note\":{\"$\":{\"priority\":\"high\"},\"to\":[\"Nick\"],\"from\":[\"Dave\"],\"heading\":[\"Reminder\"],\"body\":[\"Update the website\"]}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":560,"wires":[["eecd0d0f.09a44"]]},{"id":"520e6606.a4c8f8","type":"debug","z":"ac1dd763.60f5e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":560,"wires":[]},{"id":"f4f7492c.0ee1d8","type":"template","z":"ac1dd763.60f5e8","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"<note priority=\"high\">\n  <to>Nick</to>\n  <from>Dave</from>\n  <heading>Reminder</heading>\n  <body>Update the website</body>\n</note>","output":"str","x":300,"y":520,"wires":[["9d464877.e121e8"]]},{"id":"9d464877.e121e8","type":"xml","z":"ac1dd763.60f5e8","name":"","property":"payload","attr":"","chr":"","x":450,"y":520,"wires":[["600dd712.f8ed98"]]},{"id":"eecd0d0f.09a44","type":"xml","z":"ac1dd763.60f5e8","name":"","property":"payload","attr":"","chr":"","x":290,"y":560,"wires":[["520e6606.a4c8f8"]]},{"id":"bef2d085.be589","type":"xml","z":"ac1dd763.60f5e8","name":"","property":"payload","attr":"","chr":"","x":610,"y":290,"wires":[["25465392.7cf71c","da15eafb.7eb298"]]},{"id":"66d79b45.257584","type":"inject","z":"ac1dd763.60f5e8","name":"Execute","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":90,"wires":[["24c5b757.8ec328"]]},{"id":"24c5b757.8ec328","type":"file in","z":"ac1dd763.60f5e8","name":"Enter here csv file path","filename":"C:\\Users\\plambert\\Google Drive\\Travail\\Cit Verte\\Bloc A\\generatrice modbus\\modbus-registers.csv","format":"utf8","chunk":false,"sendError":false,"x":240,"y":140,"wires":[["8c305d9c.b870b"]]},{"id":"8c305d9c.b870b","type":"csv","z":"ac1dd763.60f5e8","name":"","sep":";","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\r\\n","temp":"","skip":0,"strings":true,"x":380,"y":190,"wires":[["2225c516.7ed13a"]]},{"id":"2225c516.7ed13a","type":"function","z":"ac1dd763.60f5e8","name":"csv To jsObject","func":"\nvar object = [];\nvar i;\n\nfor (i = 0; i <  msg.payload.length; i++) { \n    var mb_name = msg.payload[i].modbusRegisterName;\n    var bac_type = msg.payload[i].BacnetObjectType;\n    var bac_ref = msg.payload[i].BacnetObjectReference;\n    var mb_regNum = msg.payload[i].modbusRegisterNumber;\n    var mb_regType = msg.payload[i].modbusRegisterType;  \n    var mb_regByteMap = msg.payload[i].modbusRegisterByteMap; \n    var mb_regCount = msg.payload[i].modbusRegisterCount; \n    var mb_regDataType = msg.payload[i].modbusRegisterDataType;\n    var mb_regBit = msg.payload[i].modbusRegisterBitOffset;    \n    var mb_regOp1 = msg.payload[i].modbusRegisterOperation1;   \n    var mb_regOp1Val = msg.payload[i].modbusRegisterOpValue1; \n    var mb_regOp2 = msg.payload[i].modbusRegisterOperation2;   \n    var mb_regOp2Val = msg.payload[i].modbusRegisterOpValue2;     \n     \n    object[i]= {\"si:variable\":{\"si:name\":[mb_name],\"si:type\":[bac_type],\"si:advalue\":[{\"mb:registerValue\":[{\"mb:ioNumber\":[bac_ref.toString()],\"mb:registerNumber\":[mb_regNum.toString()],\"mb:registerType\":[mb_regType],\"mb:byteMap\":[mb_regByteMap.toString()],\"mb:registerCount\":[mb_regCount.toString()],\"mb:registerDataType\":[mb_regDataType],\"mb:bitOffset\":[mb_regBit.toString()],\"mb:Operation1\":[mb_regOp1],\"mb:OpValue1\":[mb_regOp1Val.toString()],\"mb:Operation2\":[mb_regOp2],\"mb:OpValue2\":[mb_regOp2Val.toString()]}]}]}}   \n\n}\n\nvar msg1 = {payload: object};\nreturn msg1;\n\n","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["bef2d085.be589"]]},{"id":"25465392.7cf71c","type":"debug","z":"ac1dd763.60f5e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":340,"wires":[]},{"id":"a307f5d7.7e96d8","type":"comment","z":"ac1dd763.60f5e8","name":"Convert csv file to O3 modbus xml FIL","info":" ","x":170,"y":40,"wires":[]},{"id":"da15eafb.7eb298","type":"file","z":"ac1dd763.60f5e8","name":"save new PG to file","filename":"C:\\Users\\plambert\\Google Drive\\Travail\\Cit Verte\\Bloc A\\generatrice modbus\\modbus_FIL.xml","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":780,"y":260,"wires":[[]]},{"id":"90c0f565.8abc68","type":"function","z":"7938131d.bf35ac","name":"http string POST TL_V4","func":"\n//get tl reference from json object payload\nvar _siteDevice = msg.payload.siteDevice;\nvar _tlName = msg.payload.tlName;\nvar _logInterval =  msg.payload.logInterval;\nvar _tlObjectIdent = msg.payload.tlObjectIdent;\nvar _tlObjectRefIdent = msg.payload.tlObjectRefIdent;\n\n//set server url and method for http post\nvar _server = global.get(\"server\");\nvar server_url = \"http://\"+_server+\"/enteliweb/api/.bacnet/\";\nvar _method = \"post\";\nvar _url = server_url + _siteDevice  + \"/\";\n\n  xml_str = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>' +\n    '<Object xmlns=\"http://bacnet.org/csml/1.2\">' +\n        '<ObjectIdentifier name=\"object-identifier\" value=\"'+_tlObjectIdent+'\" />' +\n        '<String name=\"object-name\" value=\"'+_tlName+'\" />' +\n        '<DateTime name=\"start-time\" value=\"2000-01-01T00:00:00.000000-05:00\"/>' +\n        '<Sequence name=\"log-deviceobjectproperty\" type=\"0-BACnetDeviceObjectPropertyReference\">' +\n            '<ObjectIdentifier name=\"objectIdentifier\" value=\"'+_tlObjectRefIdent+'\"/>' +\n            '<Enumerated name=\"propertyIdentifier\" value=\"present-value\" type=\"0-BACnetPropertyIdentifier\"/>' +\n        '</Sequence>' +\n        '<Unsigned name=\"log-interval\" value=\"'+_logInterval+'\"/>' +\n    '</Object>';\n\n\nvar msg1 = {payload: xml_str, method: _method, url: _url};\n\nvar ss = global.get(\"start_stop\");\n\nif (ss == \"START\") {\n   return msg1; \n}\n\n//Fin","outputs":"1","noerr":0,"x":790,"y":520,"wires":[["7ebbc9d.27b5d38","2514c210.2b91ce"]]},{"id":"cd8ba4b.0095858","type":"function","z":"7938131d.bf35ac","name":"http string POST TL_V3","func":"\n//get tl reference from json object payload\nvar _siteDevice = msg.payload.siteDevice;\nvar _tlName = msg.payload.tlName;\nvar _logInterval =  msg.payload.logInterval;\nvar _tlObjectIdent = msg.payload.tlObjectIdent;\nvar _tlObjectRefIdent = msg.payload.tlObjectRefIdent;\n\n//set server url and method for http post\nvar _server = global.get(\"server\");\nvar server_url = \"http://\"+_server+\"/enteliweb/api/.bacnet/\";\nvar _method = \"post\";\nvar _url = server_url + _siteDevice  + \"/\";\n\n  xml_str = '<?xml version=\"1.0\" encoding=\"UTF-8\"?>' +\n    '<Object xmlns=\"http://bacnet.org/csml/1.2\">' +\n        '<ObjectIdentifier name=\"object-identifier\" value=\"'+_tlObjectIdent+'\" />' +\n        '<String name=\"object-name\" value=\"'+_tlName+'\" />' +\n        '<DateTime name=\"start-time\" value=\"2000-01-01T00:00:00.000000-05:00\"/>' +\n        '<Sequence name=\"input-ref\" type=\"0-BACnetDeviceObjectPropertyReference\">' +\n            '<ObjectIdentifier name=\"objectIdentifier\" value=\"'+_tlObjectRefIdent+'\"/>' +\n            '<Enumerated name=\"propertyIdentifier\" value=\"present-value\" type=\"0-BACnetPropertyIdentifier\"/>' +\n        '</Sequence>' +\n        '<Unsigned name=\"log-interval\" value=\"'+_logInterval+'\"/>' +\n    '</Object>';\n\n\nvar msg1 = {payload: xml_str, method: _method, url: _url};\n\nvar ss = global.get(\"start_stop\");\n\nif (ss == \"START\") {\n   return msg1; \n}\n\n//Fin","outputs":"1","noerr":0,"x":980,"y":470,"wires":[[]]}]